h1{
    color: whitesmoke;
}

.post-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5px;
    color: rgb(83, 83, 168);
}

.post-subtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    color: black;
}

.prettiness{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(6, 97, 74);
    font-weight: bold;
}

.mybackground{
    background-color: rgb(255, 210, 244);
}

.thisisabox{
    background-color: rgb(253, 226, 255);
    padding: 20px;
    margin: 10px;
    border: 10px;
}

